<html ng-app="bubbles">
  <head>
  <meta charset="UTF-8">
    <script src="lib/angular.min.js" ></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </head>
  <body ng-controller="MyController" ng-click="onClick($event)" ng-mousemove="onMouseMove($event)" ng-keydown="onKeyDown($event)"
       ng-keyup="onKeyUp($event)">
    <div>
      <span ng-bind="status" style="padding-right:20px"></span>
      Time: <span ng-bind="time" style="padding-right:20px"></span>
      <span ng-repeat="player in players">
        <span ng-bind="player.name"></span>: <span ng-bind="player.score"></span>
      </span>
    </div>
    <div style="padding-bottom:10px;background-col">
      <canvas  id="player1Canvas" width="400px" height="400px" ></canvas>
    </div>
    <hr/>
    <div style="padding-top:10px">
      <canvas  id="player2Canvas" width="400px" height="400px" ></canvas>
    </div>
  </body>
</html>
<script src="app.js" ></script>
<script src="game.js" ></script>
<script src="utils.js" ></script>
