.image1 {
	display:inline-block;
	background-image:url(background-sd.jpg);
	width: 683px;
	height: 384px;
	border:solid 1px black;
}

.image2 {
	display:inline-block;	
	background-image:url(background-hd.jpg);
	background-size: 683px 384px;
	width: 683px;
	height: 384px;
	border:solid 1px black;
}